* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "starwars";
    src: url(../fonts/SfDistantGalaxyItalic-WV3Y.ttf);
    font-style: normal;
    font-weight: 100;
  }

body {
    display:flex; 
    flex-direction:column; 
    height:100vh;
    background-image: url(../images/chamber-background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.title {
    text-align: center;
    font-family: "starwars";
    font-size: 3rem;
    color: #F2CF1D;
    -webkit-text-stroke: 2px black;
}

.title > h1 {
    letter-spacing: 8px;
}

@media (max-width: 550px) {
    .title {
        font-size: 2rem;
    }
}

@media (max-width: 350px) {
    .title {
        font-size: 1.5rem;
    }
}

button {
    font-family: 'Red Hat Mono', monospace;
    font-size: x-large;
    color: white;
    border-radius: 15px;
    background-color: black;
    margin-bottom: 1rem;
}

button:hover {
    background-color: #F2CF1D;
    transform: translateY(-4px);
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


figure {
    margin: 4px;
}

figure img {
    display: flex;
    width: 200px;
    border-radius: 50%;
    background-color: rgb(51, 46, 46);
    padding: .5em;
}

figcaption {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    color: white;
    background-color: black;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(51, 46, 46);
}

footer {
    font-family: monospace;
    font-size: xx-large;
    color: white;
    text-align: center;
    padding-bottom: 1rem;
    margin-top: auto; 
}