* {
    margin: 0;
    text-decoration: none;
}

@font-face {
    font-family: "starwars";
    src: url(../fonts/SfDistantGalaxyItalic-WV3Y.ttf);
    font-style: normal;
    font-weight: 100;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(../images/hyperspace_background.gif);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

header {
    text-align: center;
    margin-top: 2rem;
}

header>h1 {
    font-family: starwars, sans-serif;
    font-size: 6rem;
    letter-spacing: 8px;
    color: #F2CF1D;
    -webkit-text-stroke: 2px black;
}

header>h2 {
    font-family: starwars, sans-serif;
    font-size: 6rem;
    color: #F2CF1D;
    -webkit-text-stroke: 2px black;
}

header>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: white;
    -webkit-text-stroke: 1px black;
}

@media (max-width: 600px) {
    header>h1 {
        font-size: 5.5rem;
    }

    header>h2 {
        font-size: 5.5rem;
    }

    header>p {
        font-size: x-large;
    }
}

@media (max-width: 550px) {
    header>h1 {
        font-size: 5rem;
    }

    header>h2 {
        font-size: 5rem;
    }

    header>p {
        font-size: x-large;
    }
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 4rem;
}


.menu-item>figure>img {
    width: 500px;
    height: 500px;
    margin-top: 4rem;
}

.menu-item>figure>figcaption {
    font-family: starwars, serif;
    font-size: xx-large;
    text-align: center;
    color: black;
    -webkit-text-stroke: 2px #F2CF1D;
}

@media (max-width: 500px) {
    header>h1 {
        font-size: 4.5rem;
    }

    header>h2 {
        font-size: 4.5rem;
    }

    header>p {
        font-size: x-large;
    }

    .menu-item>figure>img {
        width: 450px;
        height: 450px;
        margin-top: 6rem;
    }
}

@media (max-width: 450px) {
    header>h1 {
        font-size: 3.5rem;
    }

    header>h2 {
        font-size: 3.5rem;
    }

    header>p {
        font-size: x-large;
    }

    .menu-item>figure>img {
        width: 350px;
        height: 350px;
        margin-top: 6rem;
    }
}

@media (max-width: 350px) {
    header>h1 {
        font-size: 3rem;
    }

    header>h2 {
        font-size: 3rem;
    }

    header>p {
        font-size: x-large;
    }

    .menu-item>figure>img {
        width: 300px;
        height: 300px;
        margin-top: 6rem;
    }
}

@media (max-width: 300px) {
    header>h1 {
        font-size: 2.5rem;
    }

    header>h2 {
        font-size: 2.5rem;
    }

    header>p {
        font-size: x-large;
    }

    .menu-item>figure>img {
        width: 250px;
        height: 250px;
        margin-top: 6rem;
    }
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: 1rem;
    font-family: monospace;
    font-size: xx-large;
    -webkit-text-stroke: .5px black;
    color: white;
}