* {
    margin: 0;
    box-sizing: border-box;
}

html {
    background-image: url(images/pokeground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > img {
    width: 450px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

nav {
    width: 100%;
    position: fixed;
}

.navbar-brand > h1 {
    display: flex;
    align-items: center;
    font-size: x-large;
}

.formBottom {
    display: flex;
    align-items: center;
    font-size: small;
}

#bottomFormText {
    padding-left: 1rem;
    color: white;
}

.label {
    color: white;
}

.lowerMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.subLowerMenu {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.searchPokemon {
    margin-bottom: 1rem;
}

.pokeSearch {
    width: 300px;
}

.callPokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(32, 31, 31, 0.5);
    width: 750px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.checkbox {
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
}

.howMany {
    display: flex;
}

.howManyBox {
    padding-right: 1rem;
    padding-left: 1rem;
}

.howManyIn {
    width: 300px
}

.filterPokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(32, 31, 31, 0.5);
    width: 750px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.filterPokemon > label {
    font-size: large;
}

.filterPokemonFunc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filterButton {
    margin-top: 1rem;
    margin-left: 1rem;
    position: relative; 
    top: -8px;
}

.pokeGrid {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.scene {
    width: 200px;
    height: 260px;
    perspective: 600px;
    margin: .5rem;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card.is-flipped {
    position: fixed;
    transform: rotateY(180deg);
}

.cardFace {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    outline: 0.3rem solid;
    outline-color: #BF9004;
    backface-visibility: hidden;
}

.cFront {
    background: #2a75bb;
}

.cBack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #595857;
    transform: rotateY(180deg);
}

.backPic {
    width: 120px;
}

.stats {
    padding-left: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.9em;
    line-height: 130%;
    color: black;
}

figure img {
    width: 200px;
}

figcaption {
    color: black;
    text-align: center;
    font-size: 1.3rem;
    padding-top: 0.5rem;
}

.cardFace > figcaption::first-letter {
    text-transform: capitalize;
    font-size: 150%;
}

li::first-letter {
    text-transform: capitalize;
}