* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #BFA58E;
}

navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #254159;
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Graduate', cursive;
    font-size: 110px;
    color: white;
}

.logo > img {
    width: 100px;
    margin-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.button {
    font-size: x-large;
    width: 200px;
    height: 50px;
}

.is-link {
    width: 100px;
}

.is-success {
    width: 150px;
}

.is-danger {
    width: 150px;
}

.is-info {
    width: 150px;
}

.summary {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Graduate', cursive;
    background-color: #8C111B;
    color: white;
    padding: 1rem;
    width: 100%;
}

.most {
    padding: 1rem;
    background-color: #400F13;
}

.most > h2 {
    font-size: x-large;
}

.mostLoyal {
    display: flex;
    padding-left: 2rem;
    padding-top: 1rem;
}

.least {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: #400F13;
    text-align: center;
    font-size: x-large;
}

.leastLoyal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leastLoyal > figure {
    width: 280px;
}

.leastLoyal > figure > figcaption {
    text-align: center;
    font-size: x-large;
}

.members {
    display: flex;
    flex-wrap: wrap;
}

.seniority {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #400F13;
}

.seniority > h1 {
    font-size: x-large;
}

.seniority > figure {
    width: 280px;
}

.seniority > figure > figcaption {
    text-align: center;
    font-size: x-large;
}

.members {
    display: flex;
    justify-content: center;
}

.members > figure {
    width: 160px;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    text-align: center;
    font-family: 'Graduate', cursive;
}

footer {
    font-size: xx-large;
    text-align: center;
}